{% extends '/us/parametre.html.twig' %}

{% block ChangementParametre %}

<h3>Souhaitez-vous réellement supprimer votre compte ?</h3>

<p>
	<strong> <i class="fas fa-exclamation-triangle"></i> Cette action est irréversible!</strong> <br> <br>
    Ceci entrainera la suppression:
    <ul>
        <li>- du profil</li>
        <li>- des posts</li>
        <li>- des favoris</li>
        <li>- des notes attribuées</li>
    </ul>
</p>
<h6>Confirmation de votre choix:</h6> <br>
{{ form_start(suppForm) }}
{{ form_row(suppForm.motDePasse) }}

<a href="{{path('us_parametre')}}"><button class="btn btn-danger" type="button">Annuler</button></a> 
<button class="btn btn-success" type="submit">Supprimer</input>
{{ form_end(suppForm) }}
{% endblock %}