a{text-decoration: none;color:black;}
a:hover{color:#141414;}
button:focus{outline: 0;}

/* === ZONE MAIN - CONTAINER PRINCIPALE === */

/* === FIN ZONE MAIN === */
/* === ZONE OBJET === */

.carreIMG{
	height: 100px; 	width: 100px;
	border: 2px solid;
	border-image: white;
  	border-image-slice: 1;
}

.carreCont{
  padding: 2%; margin: 10%;
	height: auto; width: 80%;
	border: 1px solid;
	border-image: white;
  border-image-slice: 1;
  background-color: #DFDFDF;
  color: black;
}


#centrer{
  /*=== Centrer l'objet sur lui même===*/
  position: absolute; /* postulat de départ */
  top: 50%; left: 50%; /* à 50%/50% du parent référent*/
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

/* === FIN ZONE OBJET === */

.sidebar{background:linear-gradient(#d35e35,#db683e);}
.topbar{background-color:#3d4251;}
.sticky-footer{background-color:#3d4251;}
.boutonColor{background-color: #666F88;};}

