/* === ZONE NAVIGATION MENU === */
.line{
    height: 0;
    width: 100px;
    z-index: 1;
    border: 1px solid black;
}

.btn-circle {
    width: 1.875rem;
    height: 1.875rem;
    text-align: center;
    padding: 0.375rem 0;
    font-size: 0.75rem;
    line-height: 1.428571429;
    border-radius: 0.938rem;
  }
  .btn-circle.btn-lg {
    width: 3.125rem;
    height: 3.125rem;
    padding: 0.625rem 1rem;
    font-size: 1.125rem;
    line-height: 1.33;
    border-radius: 1.563rem;
  }

  .btn.btn-primary{
    background-color: rgb(153, 153, 153);
    margin-left: 10px;
    border-color: black;
  }

  #wrapper {
     overflow-x: hidden;
  }

 #sidebar-wrapper {
   min-height: 100vh;
   margin-left: -15rem;
   -webkit-transition: margin .25s ease-out;
   -moz-transition: margin .25s ease-out;
   -o-transition: margin .25s ease-out;
   transition: margin .25s ease-out;
   justify-content: center;
 }

 #sidebar-wrapper .sidebar-heading {
   padding: 0.875rem 1.25rem;
   font-size: 1.2rem;
 }

 #sidebar-wrapper .list-group {
   width: 15rem;
 }

 #page-content-wrapper {
   min-width: 100vw;
 }

 #wrapper.toggled #sidebar-wrapper {
   margin-left: 0;
 }

 @media (min-width: 768px) {
   #sidebar-wrapper {
     margin-left: 0;
   }

   #page-content-wrapper {
     min-width: 0;
     width: 100%;
   }

   #wrapper.toggled #sidebar-wrapper {
     margin-left: -15rem;
   }
 }

a{text-decoration: none;color:black;}
a:hover{color:#141414;}
button:focus{outline: 0;}

/* === Partie pour la search box === */
* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
}
body, button, input {
	font: 1em Hind, sans-serif;
	line-height: 1.5em;
}
body, input {
	color: #171717;
}
body, .search-bar {
	display: flex;
}
body {
	background: #f1f1f1;
	height: 100vh;
}
.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	padding: 1.5em;
	justify-content: center;
	max-width: 30em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before,
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #000000 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #000000;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #929395;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before,
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before,
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #727274;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
	body, input {
		color: #f1f1f1;
	}
	body {
		background: #171717;
	}
	.search-bar input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}
	.search-bar input:focus,
	.search-bar input:valid {
		background: #3d3d3d;
		box-shadow: 0 0 0 0.1em #3d3d3d inset;
	}
	.search-btn {
		background: #f1f1f1;
	}
}


/* === FIN ZONE NAVIGATION MENU === */
/* === ZONE MAIN - CONTAINER PRINCIPALE === */
html{background-color: grey;}

body{
  background-color: rgb(51,51,51);
  color: white;
}
/* === FIN ZONE MAIN === */
/* === ZONE OBJET === */

.carreIMG{
	height: 100px; 	width: 100px;
	border: 2px solid;
	border-image: white;
  border-image-slice: 1;
    /*=== Centrer l'objet sur lui même===
    position: absolute; /* postulat de départ
    top: 50%; left: 50%; /* à 50%/50% du parent référent
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

.carreCont{
  padding: 2%; margin: 10%;
	height: 60%; width: 80%;
	border: 1px solid;
	border-image: white;
  border-image-slice: 1;
  background-color: #DFDFDF;
  color: black;
}

.barreRecherche{
  padding: 2%; margin: 10%;
	height: 5%; width: 80%;
	border: 1px solid;
	border-image: white;
  border-image-slice: 1;
  background-color: #DFDFDF;
}


/* === FIN ZONE OBJET === */
