{% extends 'templateBase.html.twig' %}

{% block titleOnglet %}US - Admin{% endblock %}

{% block titlePage %}  Administration {% endblock %}

{% block contenuCentral %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="btn-group" role="group" aria-label="Basic example">
				<button type="button" class="btn btn-success">Utilisateurs</button>
				<button type="button" class="btn btn-success">Répertoires</button>
				<button type="button" class="btn btn-success">Posts</button>
			  </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
</div>

{% endblock %}

{% block boxDroit %} {% endblock %}

{% block barreRecherche %} {% endblock %}