{% extends 'templateBase.html.twig' %}

{% block titleOnglet %}US - Accueil{% endblock %}

{% block titlePage %} Accueil {% endblock %}

{% block contenuCentral %}

{% if posts != NULL %}

<h4> Derniers posts: </h4> <br>

{% for postCourant in posts %}
{{ include('us/listerPosts.html.twig') }} 

{% endfor %}

{% else %}

<div class="alert alert-secondary alert-dismissible fade show" role="alert">
  
Vous n'avez aucun favori! Les posts s'affichant ici proviennent des utilisateurs, modules et semestres que vous avez en favori. <strong> Pour commencer, mettez votre semestre courant en favori en <a href="{{path('us_repertoires')}}">cliquant ici! &nbsp;<i class="fas fa-mouse-pointer"></i> </a> </strong>

</div>



{% endif %}
{%endblock%}

{% block boxDroit %} {% endblock %}

{% block Javascript %}

	<script src="{{ asset('js/scriptNoteMoyennePost.js') }}"></script>


{% endblock %}
