{% extends 'templateBase.html.twig' %}

{% block titleOnglet %}US - Accueil{% endblock %}

{% block titlePage %} Accueil {% endblock %}

{% block contenuCentral %}
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <a href="">Eviii</a>
    </li>
</ul>
{%endblock%}

{% block boxDroit %} {% endblock %}


