{% extends 'templateBase.html.twig' %}

{% block titleOnglet %}US - Paramètre{% endblock %}

{% block titlePage %} Paramètre {% endblock %}

{% block contenuCentral %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-7">
            <div class="toggle">
                <input type="checkbox" class="checkbox" id="dark-mode"/>
                <label for="dark-mode" class="label">
                    <i class="fas fa-moon"></i>
                    <i class="fas fa-sun"></i>
                    <div class="ball"></div>
                </label>
            </div>
            <a href="#switchPseudoModal" data-toggle='modal' data-target="#switchPseudoModal">Changer mon pseudo</a><br>
            <a href="">Changer mon mot de passe</a><br>
            <a href="">Supprimer mon compte</a>
		</div>
		<div class="col-md-5">
            <div class="text-center">
                <img src="{{ asset('/img/us_logo.png') }}" alt="" height="200px" width="200px">
            </div>
		</div>
	</div>
</div>

<div class="modal fade" id="switchPseudoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Changement de pseudo ?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <input type="password" placeholder="pseudo">
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Retour</button>
            <button class="btn btn-secondary" type="submit" href="">Changer</input>
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block boxDroit %} {% endblock %}

{% block barreRecherche %} {% endblock %}

{% block Javascprit %}
    <script>
        const darkMode = document.getElementById('dark-mode');
        darkMode.addEventListener('change', () => {
        document.body.classList.toggle('dark');
        });
    </script>
{% endblock %}