{% extends 'templateBase.html.twig' %}

{% block titleOnglet %}US - Module{% endblock %}

{% block titlePage %} Posts du module {{ module.sigle }} - {{ module.nom }} {% endblock %}

{% block contenuCentral %}




{% for postCourant in posts %}

{{ include('us/listerPosts.html.twig') }} 

{% else %}
<p> Il n'y a pas de posts dans ce module. </p>
{% endfor %}




{% endblock %}

{% block boxDroit %} {% endblock %}
{% block Javascript %}
    <script src="{{ asset('js/scriptNoteMoyennePost.js') }}"></script>
{% endblock %}