{% extends 'base.html.twig' %}

{% block title%}{% endblock %}

{% block contenuPage%}
  <div class="row">
    <div class="col-md-9 offset-md-1">
      <div class="carreCont">
        {%block contenu%}{%endblock%}
      </div>
    </div>
    <div class="col-md-2">
      <div class="carreCont">
        {%block arbo%}{%endblock%}
      </div>
    </div>
  </div>
{% endblock %}
