<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Template de connexion pour le site us - university share.">
        <meta name="author" content="Ewen Blandin">

        <!-- IMPLEMENTATION BOOTSTRAP CSS -->
        <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('/css/styleAdd.css')}}">
        <link rel="stylesheet" href="{{asset('/css/hamburgers.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <!-- ALTERNATIVE ICONS BOOTSTRAP 3 -->
        <script src="https://unpkg.com/feather-icons"></script>

        <!-- TITRE -->
        <title>{% block title %}University Share{% endblock %}</title>
    </head>
    <body>

      <div class="container-fluid"style="background-color: grey;">
        <div class="row justify-content-center">
          <div class="col-md-1"style="text-align:center;margin-top:10%;">
            <div class="carreIMG">
            {% block Image %}
            === IMAGE ===
            {%endblock%}
          </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-10" style="text-align:center;">
            <div class="carreCont">
            {% block contenuBox %}
            === FORMULAIRE OU TEXTE ===
            {%endblock%}
            </div>
          </div>
        </div>
      </div>


        <!-- BLOCK JAVASCRIPT -->

        {% block javascripts %}
        	 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
            <script src="{{asset('/js/bootstrap.min.js')}}" ></script>

        {% endblock %}
    </body>
</html>
