<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <!-- IMPLEMENTATION BOOTSTRAP CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}">

        <!-- TITRE -->
        <title>{% block title %}University Share{% endblock %}</title>
    </head>
    <body>

      <div class="container-fluid"style="background-color: grey;">
        <div class="row justify-content-center">
          <div class="col-md-5">
          </div>
          <div class="col-md-2"style="text-align:center;margin:20% 50% 6em;">
            {% block Image %}
            === IMAGE ===
            {%endblock%}
          </div>
          <div class="col-md-5">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-1">
          </div>
          <div class="col-md-10" style="text-align:center;">
            {% block contenuBox %}
            === FORMULAIRE OU TEXTE ===
            {%endblock%}
          </div>
          <div class="col-md-1">
          </div>
        </div>
      </div>


        <!-- BLOCK JAVASCRIPT -->

        {% block javascripts %}
        	 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
            <script src="{{asset('/js/bootstrap.min.js')}}" ></script>

        {% endblock %}
    </body>
</html>
